

<div class="cont">
  <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
  <button mat-flat-button><a href="mat">Mat </a> </button>
  <button mat-flat-button><a href="table">Table </a> </button>

  <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
  </mat-menu>


  <mat-divider></mat-divider>
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
  </mat-menu>
</div>

<router-outlet></router-outlet>